
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.roboto{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* Bebas Neue */
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  .bebas-neue{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* Nav Related Style*/
.navbar{
    display: flex;
    justify-content: flex-end;
    gap:35px
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(60, 60, 60);
    font-size: 1rem;
}


.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.person{
    width: 465px;
    height: 613px;
}
.btn-primary{
    font-weight: 500;
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(0.00deg, rgb(255, 128, 99) -28.333%,rgb(244, 96, 96) 95.833%);
    padding: 18px 56px;
}


.description{
    max-width: 400px;
}
.title{
    font-weight: 700;
}
.description h1{
    font-size: 5rem;
}
#mist{
    color: rgb(255, 131, 103);
}
.description h3{
    font-size: 3rem;
}
.description p{
    color: rgb(62, 62, 62);
    font-size: 1rem;
}


/* Projects */
.projects{
    margin-top: 50px;
    background: rgb(229, 229, 229);
    padding: 120px 0px 200px 0px;
    margin-bottom: 80px;
}
.projects h3{
    text-align: center;
    margin-bottom: 80px;
    font-size: 3rem;
}
.bluish{
    color: rgb(54, 57, 88);
}
#mist2{
    color: rgb(244, 96, 96);
}
.project-container{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; */

    display: flex;
    justify-content: center;
    gap: 30px;

}
.card{
    border-radius: 19.74px;
    box-shadow: 0px 6.58px 19.74px 0px rgba(0, 0, 0, 0.07);
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    padding: 18px;
}
.card img{
    width: 343.54px;
    height: 213.23px;
    
}
.card h4{
    color: rgb(54, 57, 88);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 6px 0px;
}
.card p{
   color: rgb(108, 108, 108); 
   font-size: 1rem;
}
.work{
    background: url(../shapes/Group_33094_1.png) no-repeat;
    background-size: 906px 225px;
    border-radius: 30px;
    padding: 75px;
    background-position: center;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
}
.work button{
    width: 200px;
    height: 60px;
    padding: 18px;
}
.work h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
}


footer{
    text-align: center;
}
footer h4{
    color: rgb(105, 104, 113);
    font-size: 1.5rem;
    margin: 16px;
}
footer a{
    text-decoration: none;
    color: rgb(54, 57, 88);
    font-size: 2.25rem;
}
.icon{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    margin-top: 25px;
}
@media screen and (max-width:576px) {
    /* .navbar{
        margin: 40px auto;
    } */
}